
$listColor: #FF000f;
$itemColor: #0000FF;

.list-items{
  background: $listColor;
  margin:     10px;
  padding:    10px;
}
.dropzone.dragenter{
  background: $itemColor;
}

.item{
  background: $itemColor;
}

.user{
  background: $itemColor;
}
