/*
$red = #F30021
$darkBlue = #071672
$yellow = #FFDF00
*/

// compatible
$abtw = #3FB8AF
$release = #7FC7AF
$mad = #DAD8A7
$bpink = #FF9E9D
$highHeel = #FF3D7F


// values
$listColor = $bpink
$itemColor = $highHeel
$bodyBg = $release
$navColor = $abtw